.container {
  display: flex;
  flex-direction: column;
  margin: 40px 130px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header-logo {
  width: 146px;
  height: 57px;
}

.body-top-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.body-top-banner-text {
  font-size: 40px;
  font-weight: 400;
  color: var(--gray60-color);
  margin: 0 0 12px;
}
