.container {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 940px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 146px;
  height: 57px;
}

.body_top_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 40px;
}

.body_top_banner_text {
  font-size: 40px;
  font-weight: 400;
  color: var(--gray60-color);
  margin: 0 0 12px;
}

/* 태블릿 전용 스타일 */
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .container {
    margin-top: 40px;
    max-width: none;
  }

  .header {
    margin: 0 50px 0;
  }
}


/* 모바일 전용 스타일 */
@media screen and (max-width: 768px) {
  .header {
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }

  .body_top_banner {
    flex-direction: row;
    margin: 40px 24px;
    justify-content: center;
  }

  .body_top_banner_text {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}