/* 드롭다운 버튼 스타일 */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--gray10-color);
  color: var(--gray40-color);
  padding: 8px 12px;
  border: 1px solid var(--gray40-color);
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-button:hover {
  border: 1px solid var(--gray60-color);
  color: var(--gray60-color);
}

.dropdown-button.active {
  border: 1px solid var(--gray60-color);
  color: var(--gray60-color);
}

/* 드롭다운 아이콘 스타일 */
.dropdown-icon {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--gray10-color);
  border: 1px solid var(--gray40-color);
  border-radius: 8px;
  font-size: 14px;
  color: var(--gray40-color);
  box-shadow: var(--box-shadow-1pt);
  z-index: 1;
  list-style-type: none; /* 메뉴 항목의 기본 불릿 제거 */
  padding: 0;
}

/* 드롭다운 메뉴 항목 스타일 */
.dropdown-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 34px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  color: var(--blue50-color);
}

/* 드롭다운 메뉴 열기 스타일 */
.dropdown-menu.show {
  display: block; /* 메뉴가 열리면 표시 */
}

.dropdown-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
}
